@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
:root{
  --text-color:#00aa00;
}
body{
  font-family:Roboto Mono,sans-serif;
  background-color:#333;
  color:#cccccc;
  font-size: 18px;
  line-height: 1.6;
}
h1{
  color:var(--text-color);
  font-size:50px;
  letter-spacing: -5;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}
h2{
  color:var(--text-color)
}
ul{
  list-style-type: none;
}
a{
  color:var(--text-color);
}
h3{
  margin-bottom: 20px;
}

.hidden{
  display: none
}
nav{
  width:30%;

}
nav ul{
  display:flex;
  justify-content: space-around;
  align-items:center;
}
nav ul li{
  color:var(--text-color);
  cursor:pointer;
}
.container{
  width: 600px;
  margin: auto;
  display:flex;
  flex-direction: column;
  height:70vh;
  justify-content: center;
  align-items: center;
}

.cursor{
  font-weight: 700;
  animation:1s blink step-end infinite;
}

@keyframes blink {
  0%,100%{
    background:transparent;
    opacity:0
  }
  50%{
    background:var(--text-color);
    opacity:1
  }
}

input{
    width: 400px;
    height: 50px;
  background:none;
  padding:0 10px;
  font-size: 20px;
  outline:none;
  border:none;
  border-radius: 5px;
  position: absolute;
  top: 135px;
  left: 60%;
  color:white;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5),
              -10px -10px 20px rgba(0,0,0,0.5);

}